body {
    margin: 0;
    line-height: inherit;
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:rgb(6 9 24);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 150px;
    width: 100%;
    padding: 20px;
    margin: 0px;
    border: 0px;
    background-color: #343539;
}

/* .logo {
    position: relative;
    top: 10px;
    left: 600px;
} */

.description {
    position: relative;
    top: 5px;
    left: 200px;
    color: #ffc86b;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.color {
    color: #9b9c9d
}

.menuBox {
    position: relative;
    top: 10px;
    left: 450px;
    height: 10px;
    width: 500px;
    padding: 10px;
    margin: 0px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* border: 1px solid rgb(17, 35, 174);  */
    /* background-color: rgb(245, 226, 245); */
}

a {
    text-decoration: none;
}

.projectList {
    position: relative;
    top: 200px;
    left: 450px;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    line-height: 1.5;
}